src/faq.pug
html
  head
    title FAQ | mad4nikki
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")

    style(type="text/css").
      body {
        margin: 0;
        font-size: 14px;
      }

      table.contenttable {
        background-color: #480e07;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3);
        border-radius: 5px;
        font-size: 14px;
        color: #fffaf0;
        max-width: 600px;
        width: 100%;
      }

      .blank {
        font-size: 0;
      }

      .center {
        text-align: center;
      }

      .left-box {
        text-align: left;
        padding: 0 20px;
      }

      p.answer {
        margin: 5px 0 0 0;
        font-size: 16px;
      }

      a {
        white-space: nowrap;
      }

      a.phone {
        text-decoration: none;
        color: yellow;
      }

      td.logo a + a img {
        margin-left: 20px;
      }

      .details h3 {
        margin: 0;
        line-height: 26px
      }

      .band {
        background-color: #711b11
      }


  body
    table(width="600", border="0", cellpadding="0", cellspacing="0", class="contenttable", align="center")
      tr(height="30")
      tr(height="10")
        td.band
      tr.band
        td.center.details
          h3 Date: Saturday, 21#[sup st] of September 2019
          h3 Time: 6:30pm - 11:00pm
          h3 Venue: Vistana Kuala Lumpur
      tr.band
        td.logo.center
          a(href="https://goo.gl/maps/CfZ8T6E4y7E2", target="_blank")
            img(src="http://157.230.38.2/dist/gmaps.png", )
          a(href="https://waze.com/ul/hw28641kdb" target="_blank")
            img(src="http://157.230.38.2/dist/waze.png")
      tr(height="15")
        td.band
      tr(height="30")
      tr
        td.left-box
          b JUST SOME ANSWERS FOR QUESTIONS YOU MAY HAVE...#[br]#[br]

          b Is it still a BYOB?#[br]
          p.answer Yes, feel free to bring any alcohol of your choice for your personal consumption or communal, as you please. #[br]There will be no corkage charges. Mixers and ice will be provided :)#[br]#[br]

          b Parking?#[br]
          p.answer Parking available in the Hotel @ RM10 flat.#[br]#[br]

          b Hotel room?#[br]
          p.answer If you would like to book a room/rooms, please let us know by 31/08/2019 as we will pre-book it for you at the wedding guest rate of RM180++ per night [comes up to RM208.80 nett].#[br]#[br]

          b Food?#[br]
          p.answer All food is halal but if you have any dietary requirements we should be aware off, do let us know in advance.#[br]#[br]

          b Smoking area?#[br]
          p.answer You got to be kidding if you thought we didn’t think about this. As the banquet hall is by the poolside, cocktail tables with ashtrays will be available through the night :) Please use the ashtrays and be as considerate as possible 💕#[br]#[br]

          b Anything else, please whatsapp #[a.phone(href="https://api.whatsapp.com/send?phone=60102320850") +6010 2320 850] Nikki, the not yet bridezilla 💕
      tr(height="30")

frontend/faq.html

<html>
  <head>
    <title>FAQ | mad4nikki</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
    <style type="text/css">
      body {
        margin: 0;
        font-size: 14px;
      }

      table.contenttable {
        background-color: #480e07;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3);
        border-radius: 5px;
        font-size: 14px;
        color: #fffaf0;
        max-width: 600px;
        width: 100%;
      }

      .blank {
        font-size: 0;
      }

      .center {
        text-align: center;
      }

      .left-box {
        text-align: left;
        padding: 0 20px;
      }

      p.answer {
        margin: 5px 0 0 0;
        font-size: 16px;
      }

      a {
        white-space: nowrap;
      }

      a.phone {
        text-decoration: none;
        color: yellow;
      }

      td.logo a + a img {
        margin-left: 20px;
      }

      .details h3 {
        margin: 0;
        line-height: 26px
      }

      .band {
        background-color: #711b11
      }


    </style>
  </head>
  <body>
    <table class="contenttable" width="600" border="0" cellpadding="0" cellspacing="0" align="center">
      <tr height="30"></tr>
      <tr height="10">
        <td class="band"></td>
      </tr>
      <tr class="band">
        <td class="center details">
          <h3>Date: Saturday, 21<sup>st</sup> of September 2019</h3>
          <h3>Time: 6:30pm - 11:00pm</h3>
          <h3>Venue: Vistana Kuala Lumpur</h3>
        </td>
      </tr>
      <tr class="band">
        <td class="logo center"><a href="https://goo.gl/maps/CfZ8T6E4y7E2" target="_blank"><img src="http://157.230.38.2/dist/gmaps.png"/></a><a href="https://waze.com/ul/hw28641kdb" target="_blank"><img src="http://157.230.38.2/dist/waze.png"/></a></td>
      </tr>
      <tr height="15">
        <td class="band"></td>
      </tr>
      <tr height="30"></tr>
      <tr>
        <td class="left-box"><b>JUST SOME ANSWERS FOR QUESTIONS YOU MAY HAVE...<br/><br/></b><b>Is it still a BYOB?<br/></b>
          <p class="answer">Yes, feel free to bring any alcohol of your choice for your personal consumption or communal, as you please. <br/>There will be no corkage charges. Mixers and ice will be provided :)<br/><br/></p><b>Parking?<br/></b>
          <p class="answer">Parking available in the Hotel @ RM10 flat.<br/><br/></p><b>Hotel room?<br/></b>
          <p class="answer">If you would like to book a room/rooms, please let us know by 31/08/2019 as we will pre-book it for you at the wedding guest rate of RM180++ per night [comes up to RM208.80 nett].<br/><br/></p><b>Food?<br/></b>
          <p class="answer">All food is halal but if you have any dietary requirements we should be aware off, do let us know in advance.<br/><br/></p><b>Smoking area?<br/></b>
          <p class="answer">You got to be kidding if you thought we didn’t think about this. As the banquet hall is by the poolside, cocktail tables with ashtrays will be available through the night :) Please use the ashtrays and be as considerate as possible 💕<br/><br/></p><b>Anything else, please whatsapp <a class="phone" href="https://api.whatsapp.com/send?phone=60102320850">+6010 2320 850</a> Nikki, the not yet bridezilla 💕</b>
        </td>
      </tr>
      <tr height="30"></tr>
    </table>
  </body>
</html>
